@font-face {
    font-family: 'Staatliches';
    src: url('Staatliches-Regular.eot');
    src: local('Staatliches Regular'), local('Staatliches-Regular'),
        url('Staatliches-Regular.eot?#iefix') format('embedded-opentype'),
        url('Staatliches-Regular.woff2') format('woff2'),
        url('Staatliches-Regular.woff') format('woff'),
        url('Staatliches-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

