$wrapper_width:1211px;

$osnovnoy-tekst: #2f3035;
$akcent: #1c62cd;
$bazovyy: #f0f0f4;
$svetlo-seryy-tekst: #c4c4c4;
$belyy: #fff;

$font-family: "SF Pro Display", sans-serif;
$second-family: "Barlow", sans-serif;
$third-family: "Proxima Nova", sans-serif;
$font3: "Staatliches", sans-serif;